<div class="image-container">
  <a href="{{ include.url }}" target="_blank">
    <img src="https://images.weserv.nl/?w=600&h=337&output=webp&q=80&t=square&url={{ site.github.url }}/assets/img/{{ include.image }}" alt="{{ page.title }}" class="image">
    <div class="overlay">
      <div class="text">
        {% if include.text %}
          {{ include.text }} <i class="fa fa-arrow-right" aria-hidden="true"></i>
        {% else %}
          Ver Projeto <i class="fa fa-arrow-right" aria-hidden="true"></i>
        {% endif %}
      </div>
    </div>
  </a>
</div>
